/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background: url("media/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*end of css resets*/

* {
    font-size: 1rem;
}

@font-face {
    font-family: NorseBold;
    font-weight: bold;
    src: url("media/Norse-Bold.otf") format("opentype");
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

/*left side styles*/
.left-side {
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 25vh;
}

header img {
    height: 125px;
}

header h1 {
    font-family: "NorseBold";
    font-size: 6rem;
    color: white;
    position: relative;
    top: 20px;
}

.credits {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.credits p,
.credits a {
    color: white;
}

/*right side styles*/
.right-side {
    width: 65%;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;

    border-color: whitesmoke;
}

.form-disclaimer {
    display: inline-block;
    margin-top: 70px;
}

.form-disclaimer>p {
    width: 60%;
    font-size: 1.5rem;
    font-weight: 500;
}

.form-disclaimer p:first-child {
    margin-bottom: 1.5rem;
}

.italicize {
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

/*form styles*/
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    width: 200px;
    margin: 25px 0;
    margin-left: 50px;
    height: 50px;
    background-color: #2d6392;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
    border: none;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.white-bg {
    background-color: #e4e4e4;
    box-shadow: 0px 3px 26px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 26px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 26px -9px rgba(0, 0, 0, 0.75);

    height: 300px;
    border: 1px solid green;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.white-bg p {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-row {
    display: flex;
}

.label-input-pair {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    ;
    margin-right: 75px;
}

.label-input-pair label {
    margin-bottom: .25rem;
    font-weight: 500;
}

.label-input-pair input {
    width: 250px;
    height: 1.5rem;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    transition: box-shadow .25s;
}

.label-input-pair input:focus {
    border-color: #7c98e8;
    outline: none;
}

.label-input-pair input:hover,
.label-input-pair input:focus {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

input+span {
    position: relative;
}

input+span::before {
    position: absolute;
    right: 0px;
    bottom: 33px;
}

input:valid+span::before {
    content: '✓';
    color: green;
    font-weight: 500;
}
input:invalid {
    border-color: red;
}
input:placeholder-shown {
    border-color: grey;
}


/*end of form styles*/

.log-in-decoration {
    color: #2d6392;
    font-weight: bold;
    text-decoration: none;
}

.right-side p:last-child {
    padding-bottom: 0;
}

/*left padding for the right-side elements*/
.right-side>.form-disclaimer,
.right-side>p,
form>p,
form>div,
main>p {
    padding-left: 50px;
}